@import "tailwindcss";

@theme {
  --color-theme-bg-tg: var(--tg-theme-bg-color);
  --color-theme-text-tg: var(--tg-theme-text-color);

  --color-theme-button-tg: var(--tg-theme-button-color);
  --color-theme-button-text-tg: var(--tg-theme-button-text-color);
}
#root {

  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
